body {
  margin: 0px;

  font: 1.2em/1.5em arial,verdana,geneva,helvetica,sans-serif;
  color: #ffffff;
 
}

#top_bar {
  height: 24px;
  background-color: rgb(0, 32, 84);
}

#header_wrapper {
  background-color: #002E78;
}

#header {
  position: relative;
  margin: auto;
  width: 995px;
  overflow:hidden;

  color: #ffffff;
}

#logo_site, #search_bar, #right_elements {
  display:inline;
}

#logo_site {
  width: 175px;
  height: 76px;

  line-height: 1.2;
  font-size: 40px;
  font-weight: 300;
}

#search_bar {
  position: absolute;
  top: 0px;
  right: 390px;
  margin-top: 22px;

  text-align: center;
}

#search_bar_glass_container {
  height: 30px;
  width: 30px;
  float: left;
  background: #fff;

  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
}

#search_bar_glass {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

#search_bar_field {
  vertical-align: top;
  width: 306px;
  height: 30px;
  left: -2px;
  padding: 0 2px;

  border: 0 none;

  line-height: 30px;
  color: #646464;
  font-style: italic;
}

#search_bar_ok {
  display: inline-block;
  height: 30px;
  width: 40px;
  left: -5px;
  position: relative;
  vertical-align: top;

  background: #0096CA;

  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  font-weight: bold;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
}

#right_elements {
  float: right;
}

.right_element {
  top: 0px;
  margin-top: 15px;
  margin-left: 55px;
  display:inline-block;
}

.element_logo {
 float: left;
}

.right_element_content {
  float: right;
  padding-left: 5px;
}

.element_title, .element_text {
  float: left;
  clear: left;
  height: 15px;
  text-align: left;
}

.element_title {
  font-style: normal;
  font-size: 17px;
  font-family: DINPro,arial;
  font-weight: bold;
}

#small_blue_arrow {
  float: left;
  width: 12px;
  height: 12px;
  margin-top: 7px;
  margin-left: 5px;

  background: url(http://media.ldlc.com/v3/img/general/ico-fleche.svg) no-repeat 0 top;
}

.element_text {
  font-size: 12px;
  color: #cbd5e4;
}

#core {
  position:absolute; 
  background-size:cover;
  height: 100%;
  width: 100%;

  background-color: #e5e5e5;
}


#core_core {
  width: 970px;
  height: 100%;
}

#core_core_core {
  display: inline-block;
  margin: auto;
  width: 77.32%;
  height: 100%;
  background-color: #ffffff;

  color: #000000;
}

#core_core_core_title {
  font-size: 23px;
  font-weight: 800;
}