@font-face {
    font-family: dinpro;
    src: url('dinpro.ttf'); 
}

body {
  margin: 0px;

  font: 1.2em/1.5em arial,verdana,geneva,helvetica,sans-serif;
  color: #ffffff;
}

input {
  height: 20px;

  border: 1px solid #c8c8c8;
}

#top_bar {
  height: 24px;
  background-color: rgb(0, 32, 84);
}

#header_wrapper {
  background-color: #002E78;
}

#header {
  position: relative;
  margin: auto;
  width: 995px;
  overflow:hidden;

  color: #ffffff;
}

#logo_site, #search_bar, #right_elements {
  display: inline-block;
}

#logo_site {
  width: 175px;
  height: 76px;
  
  line-height: 1.2;
  font-size: 40px;
  font-weight: 300;
}

#search_bar {
  margin-left: 4.5%;
  transform: translateY(-110%);

  text-align: center;
}

#search_bar_glass_container {
  height: 30px;
  width: 30px;
  float: left;
  background: #fff;

  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
}

#search_bar_glass {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

#search_bar_field {
  vertical-align: top;
  width: 306px;
  height: 30px;
  left: -2px;
  padding: 0 2px;

  border: 0 none;

  line-height: 30px;
  color: #646464;
  font-style: italic;
}

#search_bar_ok {
  display: inline-block;
  height: 30px;
  width: 40px;
  left: -5px;
  position: relative;
  vertical-align: top;

  background: #0096CA;

  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  font-weight: bold;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
}

#right_elements {
  transform: translateY(-40%);
}

.right_element {
  top: 0px;
  margin-top: 15px;
  margin-left: 55px;
  display:inline-block;
}

.element_logo {
 float: left;
}

.right_element_content {
  float: right;
  padding-left: 5px;
}

.element_title, .element_text {
  float: left;
  clear: left;
  height: 15px;
  text-align: left;
}

.element_title {
  font-style: normal;
  font-size: 17px;
  font-family: DINPro,arial;
  font-weight: bold;
}

#small_blue_arrow {
  float: left;
  width: 12px;
  height: 12px;
  margin-top: 7px;
  margin-left: 5px;

  background: url(http://media.ldlc.com/v3/img/general/ico-fleche.svg) no-repeat 0 top;
}

.element_text {
  font-size: 12px;
  color: #cbd5e4;
}


/*----------------------------------------
------------------------------------------
-------------------MENU-------------------
------------------------------------------
----------------------------------------*/


  /*-----------------------
  -------MENU ELEMENT------
  -----------------------*/

  .menu_element {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    padding-right: 20px;
    padding-left: 20px;

    background: #0096CA;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

    /*-----------------------
    ---MENU ELEMENT TITLE----
    -----------------------*/

    .menu_element_title {
      display: inline-block;

      font-family: dinpro;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    /*------------------------
    -MENU ELEMENT WHITE ARROW-
    ------------------------*/

    .menu_element_white_arrow {
      display: inline-block;
      top: -8%;
      position: relative;

      height: 4px;
    }

#core {
  padding-top: 20px;
  position:absolute;
  min-height: 100%;
  min-width: 100%;

  background-color: #e5e5e5;
}

#core_core_top_bar, #core_core {
  margin: 0 auto;
}

#core_core_top_bar {
  width: 995px;
  height: 30px;

  background: url(http://image.noelshack.com/fichiers/2015/41/1444282525-core-core-top-bar.png) no-repeat 0 0;

  border: 1px solid #c8c8c8;
}

#core_core_top_bar_part1, #core_core_top_bar_part2 {
  height: 30px;

  font: 14px arial,verdana,geneva,helvetica,sans-serif;
}

#core_core_top_bar_part1 {
  display: inline-block;
  margin-left: 6%;

  text-decoration: underline;
}

#core_core_top_bar_part2 {
  display: inline-block;
  margin-left: 3%;

  color: #000000;
}

#core_core {
  width: 975px;
  background: #fff;
  padding: 10px 10px 0;

  border-right: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;

  color: #141414;
  font-size: 14px;
  font-weight: bold;
}

/*----------------------------------------
------------------------------------------
-----------------GREY BAR-----------------
------------------------------------------
----------------------------------------*/

#grey_bar {
  height: 0px;
  width: 100%;

  border-bottom: 1px solid #c8c8c8;
}