/*--------------------------
----------------------------
-----------FONT-FACE--------
----------------------------
--------------------------*/

@font-face {
    font-family: dinpro;
    src: url('dinpro.ttf');
}


/*--------------------------
----------------------------
-----------HTML TAGS--------
----------------------------
--------------------------*/


  /*--------------
  -------BODY-----
  --------------*/

  body {
    margin: 0px;

    font: 1.2em/1.5em arial,verdana,geneva,helvetica,sans-serif;
    color: #ffffff;
  }

  /*---------------------
  -------A : VISITED-----
  ---------------------*/

  a:visited {
    color: #141414;
  }

  /*---------------
  -------INPUT-----
  ---------------*/

  input {
    height: 20px;

    border: 1px solid #c8c8c8;
  }


/*---------------------------------
-----------------------------------
--------------JQUERY UI------------
-----------------------------------
---------------------------------*/


  /*--------------------
  -------UI SPINNER-----
  --------------------*/

  .ui-spinner {
    height: 33px;
    width: 49px;
  }

  /*--------------------
  -------UI DIALOG------ Used for the pop-ups when emptying the basket or deleting a product.
  --------------------*/

  .ui-dialog {
    font-size: 12px !important;
  }


/*-------------------------------------------
---------------------------------------------
-------------------TOP BAR-------------------
---------------------------------------------
-------------------------------------------*/

#top_bar {
  height: 24px;
  background-color: rgb(0, 32, 84);
}


/*------------------------------------------
--------------------------------------------
-------------------HEADER-------------------
--------------------------------------------
------------------------------------------*/

  #logo_site, #search_bar, #right_elements {
    display: inline-block;
  }


  /*------------------------
  -------HEADER WRAPPER-----
  ------------------------*/

  #header_wrapper {
    background-color: #002E78;
  }

  /*----------------
  -------HEADER-----
  ----------------*/

  #header {
    position: relative;
    height: 180px;
    margin: auto;
    width: 995px;

    color: #ffffff;
  }

  /*-------------------
  -------LOGO SITE-----
  -------------------*/

  #logo_site {
    width: 175px;
    height: 76px;
    transform: translateY(60%);

    line-height: 1.2;
    font-size: 40px;
    font-weight: 300;
  }


  /*---------------------------
  -----------------------------
  -----------SEARCH BAR--------
  -----------------------------
  ---------------------------*/


  #search_bar {
    margin-left: 4.5%;
    transform: translateY(60%);

    text-align: center;
  }

    /*------------------------------------
    -------SEARCH BAR GLASS CONTAINER-----
    ------------------------------------*/

    #search_bar_glass_container {
      height: 30px;
      width: 30px;
      float: left;
      background: #fff;

      -webkit-border-top-right-radius: 0px;
      -webkit-border-bottom-right-radius: 0px;
      -moz-border-radius-topright: 0px;
      -moz-border-radius-bottomright: 0px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
    }

    /*--------------------------
    -------SEARCH BAR GLASS-----
    --------------------------*/

    #search_bar_glass {
      height: 22px;
      width: 22px;
      margin-top: 4px;
    }

    /*--------------------------
    -------SEARCH BAR FIELD-----
    --------------------------*/

    #search_bar_field {
      vertical-align: top;
      width: 306px;
      height: 30px;
      left: -2px;
      padding: 0 2px;

      border: 0 none;

      line-height: 30px;
      color: #646464;
      font-style: italic;
    }

    /*-----------------------
    -------SEARCH BAR OK-----
    -----------------------*/

    #search_bar_ok {
      display: inline-block;
      height: 30px;
      width: 40px;
      left: -5px;
      position: relative;
      vertical-align: top;

      background: #0096CA;

      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;

      font-weight: bold;
      font-size: 16px;
      line-height: 31px;
      text-align: center;
    }


  /*----------------------------------------
  ------------------------------------------
  -----------HEADER - RIGHT ELEMENTS--------
  ------------------------------------------
  ----------------------------------------*/


  #right_elements {
    float: right;
  }


    /*--------------------------------------------------------
    ----------------------------------------------------------
    -------------------HEADER RIGHT ELEMENT-------------------
    ----------------------------------------------------------
    --------------------------------------------------------*/


    .header_right_element {
      display: inline-block;
      margin-left: 49px;
      padding-right: 5px;
    }

    .header_right_element, .login_tooltip {
      border-radius: 4px;
    }


      /*-----------------------------------
      -------------------------------------
      -----------RIGHT ELEMENT LOGO--------
      -------------------------------------
      -----------------------------------*/


      .elementLogoAccount, .elementLogoBasket {
        display:inline-block;
        transform: translateY(17%);
        height: 20px;
        width: 22px;
      }


        /*--------------------------------------
        -------RIGHT ELEMENT LOGO : ACCOUNT-----
        --------------------------------------*/

        .elementLogoAccount {
          background: url(http://media.ldlc.com/v3/img/general/ico-compte.png) no-repeat 0 top;
          background-size: 20px 20px;
        }

        /*-------------------------------------
        -------RIGHT ELEMENT LOGO : BASKET-----
        -------------------------------------*/

        .elementLogoBasket {
          background: url(https://media.ldlc.com/v3/img/general/ico-panier.png) no-repeat 0 top;
          background-size: 20px 20px;
        }


      /*-----------------------------
      -------RIGHT ELEMENT TITLE-----
      -----------------------------*/

      .element_title {
        font-style: normal;
        font-size: 17px;
        font-family: DINPro,arial;
        font-weight: bold;
      }

      /*----------------------------------------
      -------RIGHT ELEMENT SMALL BLUE ARROW-----
      ----------------------------------------*/

      .small_blue_arrow {
        display:inline-block;
        width: 12px;
        height: 12px;
        transform: translateY(70%);

        background: url(http://media.ldlc.com/v3/img/general/ico-fleche.svg) no-repeat 0 top;
        background-size: 12px 12px;
      }

      /*----------------------------
      -------RIGHT ELEMENT TEXT-----
      ----------------------------*/

      .element_text {
        margin-left: 19%;

        font-size: 12px;
        color: #cbd5e4;
      }


    /*------------------------------------------------
    --------------------------------------------------
    -----------RIGHT ELEMENT : LOGIN : TOOLTIP--------
    --------------------------------------------------
    ------------------------------------------------*/


    .header_right_element:hover .login_tooltip {
      display: block;
    }

    .header_right_element:hover {
      color: #000000 !important;

      background-color: #ddebf4;
    }

    .header_right_element:hover .element_text {
      color: #000000;
    }

    .login_tooltip {
      display: none;
      transform: translateY(-4%);
      position: absolute;
      z-index: 1000;
      width:200px;
      padding: 10px;
      text-align: center;

      background-color: #ddebf4;
    }


      /*-----------------------------------
      -------LOGIN TOOLTIP INPUT FIELD-----
      -----------------------------------*/

      .login_tooltip_input_field {
        width: 100%;
        padding-left: 2px;

        color: #646464;
        font-style: italic;
        font-size: 11px;
      }


      /*--------------------------------------
      ----------------------------------------
      -----------LOGIN TOOLTIP BUTTONS--------
      ----------------------------------------
      --------------------------------------*/

      .login_tooltip_inscription_button, .login_tooltip_connexion_button,
      #login_tooltip_access_member_zone_button, #product_details_add_to_basket_button
      , .product_details_delete_product_button {
        -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7189bd), color-stop(1, #012875));
        background:-moz-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:-webkit-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:-o-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:-ms-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:linear-gradient(to bottom, #7189bd 5%, #012875 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7189bd', endColorstr='#012875',GradientType=0);
        background-color:#7189bd;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #314179;

        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:11px;
        font-weight:bold;
        text-decoration:none;
      }


        /*----------------------------------------------------
        ------------------------------------------------------
        -----------LOGIN TOOLTIP NOT CONNECTED BUTTONS--------
        ------------------------------------------------------
        ----------------------------------------------------*/


          /*----------------------------------------
          -------LOGIN TOOLTIP CONNEXION BUTTON-----
          ----------------------------------------*/

          .login_tooltip_connexion_button {
            margin-top: 10px;
          }

          /*------------------------------------------
          -------LOGIN TOOLTIP INSCRIPTION BUTTON-----
          ------------------------------------------*/

          .login_tooltip_inscription_button {
            text-align: center;

            padding: 3px 5px;
          }

          .login_tooltip_inscription_button:visited {
            color: #FFFFFF;
          }


        /*----------------------------------------
        ------------------------------------------
        -----------LOGIN CONNECTED BUTTONS--------
        ------------------------------------------
        ----------------------------------------*/


          /*-----------------------------------
          -------ACCESS MEMBER ZONE BUTTON-----
          -----------------------------------*/

          #login_tooltip_access_member_zone_button {
            padding: 2px;
            padding-left: 6px;
          }

          /*---------------------
          -------LOGOUT LINK-----
          ---------------------*/

          #logout_link {
            color: #00288C;
            font-weight: bold;
            font-size: 12px;
            text-decoration: none;
          }


      /*---------------------------------------
      -----------------------------------------
      -----------RIGHT ELEMENT : BASKET--------
      -----------------------------------------
      ---------------------------------------*/


      #rightElementBasket {
        transform: translateY(35%);
      }

        /*------------------------------------
        -------RIGHT ELEMENT BASKET PRICE-----
        ------------------------------------*/

        .basketPrice {
          font-weight: bold;
          color: #01B3F1;
        }


  /*-----------------------------------------------
  -------------------------------------------------
  -------------------HEADER MENU-------------------
  -------------------------------------------------
  -----------------------------------------------*/

  #header_menu {
    position: absolute;
    bottom: 0;
  }


    /*------------------------------
    -------HEADER MENU ELEMENT------
    ------------------------------*/

    .header_menu_element {
      display: inline-block;
      height: 30px;
      margin-right: 8px;
      padding-right: 20px;
      padding-left: 20px;

      background: #0096CA;

      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      cursor: pointer; /* Making the pointer a hand when hovering. */
    }

      /*------------------------------------
      -------HEADER MENU ELEMENT TITLE------
      ------------------------------------*/

      .header_menu_element_title {
        display: inline-block;

        font-family: dinpro;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
      }

      /*------------------------------------------
      -------HEADER MENU ELEMENT WHITE ARROW------
      ------------------------------------------*/

      .header_menu_element_white_arrow {
        display: inline-block;
        top: -8%;
        position: relative;

        height: 4px;
      }


/*----------------------------------------
------------------------------------------
-------------------CORE-------------------
------------------------------------------
----------------------------------------*/

#core {
  padding-top: 20px;
  position:absolute;
  min-height: 100%;
  min-width: 100%;

  background-color: #e5e5e5;
}


  /*---------------------------------
  -----------------------------------
  --------------CORE CORE------------
  -----------------------------------
  ---------------------------------*/

  #core_core {
    width: 994px;
    overflow: hidden;

    background: #fff;

    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    border-bottom: 1px solid #c8c8c8;

    color: #141414;
    font-size: 14px;
    font-weight: bold;
  }

  #core_core_top_bar, #core_core {
    margin: 0 auto;
  }


    /*-----------------------------------------
    -------------------------------------------
    --------------CORE CORE TOP BAR------------
    -------------------------------------------
    -----------------------------------------*/

    #core_core_top_bar {
      width: 995px;
      height: 30px;

      background: url(http://image.noelshack.com/fichiers/2015/42/1444914137-core-core-top-bar.png) no-repeat 0 0;

      border: 1px solid #c8c8c8;

      line-height: 100%;
    }

    #core_core_top_bar_part1, #core_core_top_bar_part2 {
      display: inline-block;
      height: 30px;

      font: 13px arial,verdana,geneva,helvetica,sans-serif;
    }


      /*-----------------------------------------
      ----------CORE CORE TOP BAR PART1----------
      -----------------------------------------*/

      #core_core_top_bar_part1 {
        margin-top: 0.5%;
        margin-left: 7%;

        text-decoration: underline;
      }

      /*-----------------------------------------
      ----------CORE CORE TOP BAR PART2----------
      -----------------------------------------*/

      #core_core_top_bar_part2 {
        margin-left: 3%;
        margin-top: 0.7%;

        color: #000000;
      }


  /*--------------------------------------------
  ----------------------------------------------
  -------------------PRODUCTS-------------------
  ----------------------------------------------
  --------------------------------------------*/


    /*--------------
    -------SUP------
    --------------*/

    /* <sup> is here used to pull up the decimal part of a price. */

    sup {
      font-size: 0.7em;
      vertical-align: 0.35em;
    }


    /*-------------------------------------------------
    ---------------------------------------------------
    -------------------PRODUCTS LIST-------------------
    ---------------------------------------------------
    -------------------------------------------------*/

      .product {
        overflow: hidden; /* Prevents the price div to exit the product div while floating right. */
        padding: 10px;
      }


        /*-----------------------
        -------GREY PRODUCT------
        -----------------------*/

        .greyProduct {
          background: #F8F8F8;
        }


        /*---------------------------
        -------PRODUCT FLOATERS------
        ---------------------------*/

        .productLeftFloater, .productRightFloater {
          display: inline-block;
          vertical-align:middle;
        }


          /*--------------------------------------------------------
          ----------------------------------------------------------
          -------------------PRODUCT LEFT FLOATER-------------------
          ----------------------------------------------------------
          --------------------------------------------------------*/

          .productLeftFloater {
            width: 60%;
          }

          .product_image, .productName, .productDescription {
            display: inline-block;
          }

          .product_image:hover, .productName:hover {
            cursor: pointer;
          }

          .product_left_floater_right_floater {
            float: right;
            width: 82%;
          }


            /*------------------------
            -------PRODUCT IMAGE------
            ------------------------*/

            .product_image img {
              margin-top: 10px;
              width: 80px;
              height: 80px;
              overflow: hidden;
            }

            /*-----------------------
            -------PRODUCT NAME------
            -----------------------*/

            .productName {
              font-size: 16px;
              font-family: dinpro;
            }

            /*------------------------------
            -------PRODUCT DESCRIPTION------
            ------------------------------*/

            .productDescription {
              color: #646464;
              font-size: 12px;
              font-weight: normal;
            }


          /*--------------------------------
          -------PRODUCT RIGHT FLOATER------
          --------------------------------*/
          /*  DIV USED TO FLOAT TO THE RIGHT IN ORDER PRODUCT PRICE AND BASKET FLOAT */

          .productRightFloater {
            width: 30%;
            margin-top: 18px;
            margin-left: 9%;
          }


            /*-----------------------------------------------
            -------PRODUCT PRICE AND ADD TO BASKET LOGO------
            -----------------------------------------------*/

            .productPrice, .er, .addToBasket{
              display: inline-block;
            }

            /*------------------------
            -------PRODUCT PRICE------
            ------------------------*/

            .productPrice {
              float: left;

              font-family: dinpro;
              font-size: 28px;
              color: #00288C;
            }

            /*-----------------------------------
            -------PRODUCT QUANTITY SPINNER------
            -----------------------------------*/

            .productQuantitySpinner {
              float: right;
              margin: 1% 3%;
            }

              /*-----------------------------------------
              -------PRODUCT QUANTITY SPINNER INPUT------
              -----------------------------------------*/

              .productQuantitySpinnerInput {
                width: 25px;
              }

            /*-----------------------------
            -------ADD TO BASKET LOGO------
            -----------------------------*/

            .addToBasket {
              float: right;
              margin-top: 1px;
              margin-left: 10px;
            }


    /*---------------------------------------------------
    -----------------------------------------------------
    -------------------PRODUCT DETAILS-------------------
    -----------------------------------------------------
    ---------------------------------------------------*/

    #product_details_left_floater, #product_details_right_floater {
      display: inline-block;
    }


      /*----------------------------------------------------
      ------------------------------------------------------
      --------------PRODUCT DETAILS LEFT FLOATER------------
      ------------------------------------------------------
      ----------------------------------------------------*/

      #product_details_left_floater {
        width: 70%;
        padding: 15px;
      }


        /*-------------------------------
        -------PRODUCT DETAILS NAME------
        -------------------------------*/

        #product_details_name {
          font-size: 18px;
        }

        /*--------------------------------------
        -------PRODUCT DETAILS DESCRIPTION------
        --------------------------------------*/

        #product_details_mini_description {
          margin-bottom: 30px;

          line-height: 13px;
          font-size: 11px;
          font-weight: normal;
          color: #808080;
        }

        /*--------------------------------
        -------PRODUCT DETAILS IMAGE------
        --------------------------------*/

        #product_details_image {
          margin-left: 5px;
          margin-right: 8px;
          float: left;
        }

        /*--------------------------------------
        -------PRODUCT DETAILS DESCRIPTION------
        --------------------------------------*/

        #product_details_description {
          float: right;
          margin-top: 5px;
          margin-bottom: 25px;
          width: 55%;

          font-size: 12px;
          font-weight: normal;
          line-height: 18px;
        }


      /*-----------------------------------------------------
      -------------------------------------------------------
      --------------PRODUCT DETAILS RIGHT FLOATER------------
      -------------------------------------------------------
      -----------------------------------------------------*/

      #product_details_right_floater {
        float: right;
        width: 230px;
        height: 400px;
        text-align: center;
        padding-top: 20px;

        background: rgb(237, 237, 237);
      }

      #product_details_right_floater hr {
        border: 1px solid #FFFFFF;
      }

      #product_details_add_to_basket_button, .product_details_delete_product_button {
        margin-top: 10px;
        padding: 5px;
      }


        /*--------------------------------
        -------PRODUCT DETAILS PRICE------
        --------------------------------*/

        #product_details_price {
          margin-bottom: 20px;

          font-size: 32px;
          color: rgb(0, 40, 140);
        }

        /*-------------------------------------------------
        -------PRODUCT DETAILS ADD TO BASKET QUANTITY------
        -------------------------------------------------*/

        #product_details_add_to_basket_quantity {
          margin-top: 20px;

          font-size: 12px;
          font-weight: normal;
        }

        /*------------------------------------------------
        -------PRODUCT DETAILS DELETE PRODUCT BUTTON------
        ------------------------------------------------*/

        .product_details_delete_product_button {
          margin-right: 2px;
        }


    /*--------------------------
    ----------GREY BAR----------
    --------------------------*/

    .grey_bar {
      height: 0px;
      width: 100%;

      border-bottom: 1px solid #c8c8c8;
    }

    /*-------------------------------
    ----------ERROR MESSAGE----------
    -------------------------------*/

    .error_message {
      margin-left: 1%;

      color: #FF0000;
    }


    /*----------------------------------------
    ------------------------------------------
    --------------CORE CORE MENU--------------
    ------------------------------------------
    ----------------------------------------*/

    #core_core_menu {
      width: 20%;
      height: 550px;
      padding-top: 1.5%;
      float: left;

      background: rgb(220, 235, 245);

      -webkit-box-shadow: 5px 1px 5px 0px rgba(235,235,235,1);
      -moz-box-shadow: 5px 1px 5px 0px rgba(235,235,235,1);
      box-shadow: 5px 1px 5px 0px rgba(235,235,235,1);
    }

    #core_core_menu, #core_core_core {
      display: inline-block;
    }


      /*------------------------------------------------
      --------------------------------------------------
      --------------CORE CORE MENU ELEMENT--------------
      --------------------------------------------------
      ------------------------------------------------*/

      .core_core_menu_element {
        margin-top: 3%;
        margin-left: 10%;
        margin-bottom: 1%;

        font-weight: normal;
        font-size: 12px;
      }

      .core_core_menu_element a:link {
        text-decoration: none;
        color: #141414;
      }

      .core_core_menu_element a:hover {
        text-decoration: underline;
      }


        /*---------------------------------------------
        ----------CORE CORE MENU ELEMENT LOGO----------
        ---------------------------------------------*/

        .core_core_menu_element_logo, .core_core_menu_element_title {
          display: inline-block;
        }

        .core_core_menu_element_logo {
          width: 23px;
        }

        /*----------------------------------------------
        ----------CORE CORE MENU ELEMENT TITLE----------
        ----------------------------------------------*/

        .core_core_menu_element_title {
          margin-left: 3%;
        }


      /*------------------------------------------
      ----------CORE CORE MENU WHITE BAR----------
      ------------------------------------------*/

      .core_core_menu_white_bar {
        height: 1px;
        width: 100%;

        background: #FFFFFF;
      }


    /*----------------------------------------
    ------------------------------------------
    -------------CORE CORE CORE---------------
    ------------------------------------------
    ----------------------------------------*/

    #core_core_core {
      float:left;
      max-width: 70%;
      margin-top: 3%;
      margin-bottom: 1%;
      margin-left: 3%;

      font-weight: normal;
      font-size: 12px;
      line-height: 20px;
    }


      /*------------------------------
      -------CORE_CORE_CORE_TEXT------
      ------------------------------*/

      #core_core_core_text {
        max-width: 60%;
      }

      #core_core_core_text, #core_core_core_grey_box {
        display: inline-block;
      }

      /*------------------------------------
      -------CORE CORE CORE TEXT TITLE------
      ------------------------------------*/

      .coreCoreCoreTextTitle, .coreCoreCoreTextTitle:visited {
        color: #103494;
        font-size: 16px;
        font-weight: bold;
      }

      /*----------------------------------
      -------CORE_CORE_CORE_GREY_BOX------
      ----------------------------------*/

      #core_core_core_grey_box {
        background: #EBEBEB;
        float: right;
        width: 240px;
        padding: 10px;

        border-radius: 5px;
      }


  /*-------------------------------------
  ---------------------------------------
  -------------SHOW BASKET---------------
  ---------------------------------------
  -------------------------------------*/


    /*------------------------------------------
    --------------------------------------------
    --------------CORE CORE BASKET--------------
    --------------------------------------------
    ------------------------------------------*/

    #coreCoreBasket {
      padding: 10px;
    }


      /*-----------------------
      -------BASKET TITLE------
      -----------------------*/

      #basketTitle {
        font-family: dinpro, arial;
        font-weight: normal;
        font-size: 18px;
      }

      /*------------------------------
      -------EMPTY BASKET BUTTON------
      ------------------------------*/

      #emptyBasketButton {
        margin: auto;
        text-align: center;
        margin-top: 1%;
        width: 125px;
        padding: 0.2% 4%;
        overflow-y: hidden;

        cursor:pointer; /* Modify the mouse cursor to pointer when hovering over. */

        background: rgb(225, 225, 225);

        border-radius: 7px;

        text-transform: uppercase;
        font-weight: normal;
        font-size: 11px;
        letter-spacing: 0.1px;
      }

        /*-----------------------------------
        -------EMPTY BASKET BUTTON LOGO------
        -----------------------------------*/

        #emptyBasketButtonLogo {
          display: inline-block;
          transform: translateY(7%);
          margin-right: 5%;
        }


    /*--------------------------
    -------PRODUCTS TITLES------
    --------------------------*/

    #products_titles {
      width: 100%;
      height: 22px;
      margin-top: 1.5%;

      color: #3c3c3c;
      font-size: 13px;
      font-weight: normal;
      text-transform: uppercase;
    }


    /*----------------------------------------
    ------------------------------------------
    --------------BASKET PRODUCT--------------
    ------------------------------------------
    ----------------------------------------*/


      .basket_product_left_floater, .basket_product_right_floater {
        display: inline-block;
        vertical-align:middle;
      }

      .basket_product_price, .basket_product_quantity, .basket_product_total,
      .delete_product_from_basket_logo {
        display: inline-block;
      }


      /*-----------------------------------------------------
      -------------------------------------------------------
      --------------BASKET PRODUCT LEFT FLOATER--------------
      -------------------------------------------------------
      -----------------------------------------------------*/

      .basket_product_left_floater {
        width: 58%;
      }


        /*------------------------------
        -------BASKET PRODUCT NAME------
        ------------------------------*/

        .basket_product_name {
          display: inline-block;
          transform: translateY(-135%);
          margin-left: 10px;

          font-family: arial;
          font-size: 12px;
        }


      /*------------------------------------------------------
      --------------------------------------------------------
      --------------BASKET PRODUCT RIGHT FLOATER--------------
      --------------------------------------------------------
      ------------------------------------------------------*/

      .basket_product_right_floater {
        width: 35%;
        margin-left: 60px;
      }

      .basket_product_price, .basket_product_quantity, .basket_product_total {
        text-align: center;
      }


        /*-------------------------------
        -------BASKET PRODUCT PRICE------
        -------------------------------*/

        .basket_product_price {
          width: 70px;
          margin-left: 21px;

          font-weight: normal;
          font-size: 12px;
        }

        /*----------------------------------
        -------BASKET PRODUCT QUANTITY------
        ----------------------------------*/

        .basket_product_quantity {
          width: 30px;
          margin-left: 39px;
        }

        /*-------------------------------
        -------BASKET PRODUCT TOTAL------
        -------------------------------*/

        .basket_product_total {
          width: 70px;
          margin-left: 40px;
        }

        /*------------------------------------------
        -------DELETE PRODUCT FROM BASKET LOGO------
        ------------------------------------------*/

        .delete_product_from_basket_logo {
          margin-left: 20px;
          transform: translateY(8%);
        }


      /*------------------------------------------------------
      --------------------------------------------------------
      --------------CORE CORE BASKET TOTAL PRICE--------------
      --------------------------------------------------------
      ------------------------------------------------------*/

      #core_core_total_price {
        text-align: right;
        background: rgb(221, 235, 246);

        font-size: 16px;
        color: rgb(1, 40, 143);
      }

      #core_core_total_price span {
        color: rgb(1, 40, 143);
      }

        /*---------------------------------------------------
        ----------CORE CORE BASKET TOTAL PRICE TEXT----------
        ---------------------------------------------------*/

        #core_core_total_price_text {
          margin-right: 10px;
          padding: 5px;
        }


    /*------------------------------------------
    ----------CORE CORE COMMAND BASKET----------
    ------------------------------------------*/

    #core_core_command_basket_wrapper {
      margin: 15px 0;
      text-align: center;
    }

    #core_core_command_basket {
      align-content: center;
      padding: 15px;

      -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
      -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
      box-shadow:inset 0px 1px 0px 0px #7a8eb9;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7189bd), color-stop(1, #012875));
      background:-moz-linear-gradient(top, #7189bd 5%, #012875 100%);
      background:-webkit-linear-gradient(top, #7189bd 5%, #012875 100%);
      background:-o-linear-gradient(top, #7189bd 5%, #012875 100%);
      background:-ms-linear-gradient(top, #7189bd 5%, #012875 100%);
      background:linear-gradient(to bottom, #7189bd 5%, #012875 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7189bd', endColorstr='#012875',GradientType=0);
      background-color:#7189bd;
      border-radius:2px;
      border:1px solid #314179;

      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:16px;
      font-weight:bold;
      text-decoration:none;
      }
