@font-face {
    font-family: dinpro;
    src: url('dinpro.ttf'); 
}

body {
  margin: 0px;

  font: 1.2em/1.5em arial,verdana,geneva,helvetica,sans-serif;
  color: #ffffff;
}

input {
  height: 20px;

  border: 1px solid #c8c8c8;
}

#top_bar {
  height: 24px;
  background-color: rgb(0, 32, 84);
}

#header_wrapper {
  background-color: #002E78;
}

#header {
  position: relative;
  height: 180px;
  margin: auto;
  width: 995px;

  color: #ffffff;
}

#logo_site, #search_bar, #right_elements {
  display: inline-block;
}

#logo_site {
  width: 175px;
  height: 76px;
  transform: translateY(60%);
  
  line-height: 1.2;
  font-size: 40px;
  font-weight: 300;
}

#search_bar {
  margin-left: 4.5%;
  transform: translateY(60%);

  text-align: center;
}

#search_bar_glass_container {
  height: 30px;
  width: 30px;
  float: left;
  background: #fff;

  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
}

#search_bar_glass {
  height: 22px;
  width: 22px;
  margin-top: 4px;
}

#search_bar_field {
  vertical-align: top;
  width: 306px;
  height: 30px;
  left: -2px;
  padding: 0 2px;

  border: 0 none;

  line-height: 30px;
  color: #646464;
  font-style: italic;
}

#search_bar_ok {
  display: inline-block;
  height: 30px;
  width: 40px;
  left: -5px;
  position: relative;
  vertical-align: top;

  background: #0096CA;

  -webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;

  font-weight: bold;
  font-size: 16px;
  line-height: 31px;
  text-align: center;
}


/*----------------------------------------
------------------------------------------
-----------HEADER - RIGHT ELEMENTS--------
------------------------------------------
----------------------------------------*/


  #right_elements {
    display:inline-block;
    transform: translateY(0%);
  }

  .right_element {
    display:inline-block;
    margin-left: 30px;
    padding-right: 5px;
  }

  .right_element, .login_tooltip {
    border-radius: 4px;
  }

  .element_logo {
    display:inline-block;
    transform: translateY(17%);
    height: 20px;
    width: 20px;

    background: url(http://media.ldlc.com/v3/img/general/ico-compte.png) no-repeat 0 top;
    background-size: 20px 20px;
  }

  .element_title {
    font-style: normal;
    font-size: 17px;
    font-family: DINPro,arial;
    font-weight: bold;
  }

  #small_blue_arrow {
    display:inline-block;
    width: 12px;
    height: 12px;
    transform: translateY(70%);

    background: url(http://media.ldlc.com/v3/img/general/ico-fleche.svg) no-repeat 0 top;
    background-size: 12px 12px;
  }

  .element_text {
    margin-left: 19%;

    font-size: 12px;
    color: #cbd5e4;
  }


  /*------------------------------
  --------------------------------
  -----------LOGIN TOOLTIP--------
  --------------------------------
  ------------------------------*/


  .right_element:hover .login_tooltip {
    display: block;
  }

  .right_element:hover {
    color: #000000 !important;

    background-color: #ddebf4;
  }

  .right_element:hover .element_text {
    color: #000000;
  }

  .login_tooltip {
    display: none;
    transform: translateY(-4%);
    position: absolute;
    width:200px;
    padding: 10px;
    text-align: center;

    background-color: #ddebf4;
  }

    /*-----------------------------------
    -------LOGIN TOOLTIP INPUT FIELD-----
    -----------------------------------*/

    .login_tooltip_input_field {
      width: 100%;
      padding-left: 2px;

      color: #646464;
      font-style: italic;
      font-size: 11px;
    }


    /*--------------------------------------
    ----------------------------------------
    -----------LOGIN TOOLTIP BUTTONS--------
    ----------------------------------------
    --------------------------------------*/


      .login_tooltip_inscription_button, .login_tooltip_connexion_button,
      #login_tooltip_access_member_zone_button {
        -moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        -webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        box-shadow:inset 0px 1px 0px 0px #7a8eb9;
        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7189bd), color-stop(1, #012875));
        background:-moz-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:-webkit-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:-o-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:-ms-linear-gradient(top, #7189bd 5%, #012875 100%);
        background:linear-gradient(to bottom, #7189bd 5%, #012875 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7189bd', endColorstr='#012875',GradientType=0);
        background-color:#7189bd;
        -moz-border-radius:6px;
        -webkit-border-radius:6px;
        border-radius:6px;
        border:1px solid #314179;

        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:12px;
        font-weight:bold;
        text-decoration:none;
      }


    /*----------------------------------------------------
    ------------------------------------------------------
    -----------LOGIN TOOLTIP NOT CONNECTED BUTTONS--------
    ------------------------------------------------------
    ----------------------------------------------------*/


      /*----------------------------------------
      -------LOGIN TOOLTIP CONNEXION BUTTON-----
      ----------------------------------------*/    

      .login_tooltip_connexion_button {
        float: left;
        margin-top: 6px;
      }

      /*------------------------------------------
      -------LOGIN TOOLTIP INSCRIPTION BUTTON-----
      ------------------------------------------*/    

      .login_tooltip_inscription_button {
        display: inline-block;
        width: 80px;
        height: 18px;
        line-height: 18px;
        margin-left: 16%;
        text-align: center;

        padding-left: 3px;
      }    


    /*----------------------------------------
    ------------------------------------------
    -----------LOGIN CONNECTED BUTTONS--------
    ------------------------------------------
    ----------------------------------------*/


      /*-----------------------------------
      -------ACCESS MEMBER ZONE BUTTON-----
      -----------------------------------*/

      #login_tooltip_access_member_zone_button {
        padding: 2px;
      }
      /*---------------------
      -------LOGOUT LINK-----
      ---------------------*/

      #logout_link {
        color: #00288C;
        font-weight: bold;
        font-size: 12px;
        text-decoration: none;
      } 


/*----------------------------------------
------------------------------------------
-------------------MENU-------------------
------------------------------------------
----------------------------------------*/

#menu {
  position: absolute;
  bottom: 0;
}
  /*-----------------------
  -------MENU ELEMENT------
  -----------------------*/

  .menu_element {
    display: inline-block;
    height: 30px;
    margin-right: 8px;
    padding-right: 20px;
    padding-left: 20px;

    background: #0096CA;

    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

    /*-----------------------
    ---MENU ELEMENT TITLE----
    -----------------------*/

    .menu_element_title {
      display: inline-block;

      font-family: dinpro;
      font-size: 12px;
      font-weight: bold;
      text-transform: uppercase;
    }

    /*------------------------
    -MENU ELEMENT WHITE ARROW-
    ------------------------*/

    .menu_element_white_arrow {
      display: inline-block;
      top: -8%;
      position: relative;

      height: 4px;
    }

#core {
  padding-top: 20px;
  position:absolute;
  min-height: 100%;
  min-width: 100%;

  background-color: #e5e5e5;
}

#core_core_top_bar, #core_core {
  margin: 0 auto;
}

#core_core_top_bar {
  width: 995px;
  height: 30px;

  background: url(http://image.noelshack.com/fichiers/2015/41/1444282525-core-core-top-bar.png) no-repeat 0 0;

  border: 1px solid #c8c8c8;
}

#core_core_top_bar_part1, #core_core_top_bar_part2 {
  display: block;
  height: 30px;
  margin-top: 0.6%;

  font: 14px arial,verdana,geneva,helvetica,sans-serif;
}

#core_core_top_bar_part1 {
  
  margin-left: 6%;

  text-decoration: underline;
}

#core_core_top_bar_part2 {
  margin-left: 3%;

  color: #000000;
}

#core_core {
  width: 975px;
  background: #fff;
  padding: 10px 10px 0;

  border-right: 1px solid #c8c8c8;
  border-left: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;

  color: #141414;
  font-size: 14px;
  font-weight: bold;
}

/*----------------------------------------
------------------------------------------
-----------------GREY BAR-----------------
------------------------------------------
----------------------------------------*/

#grey_bar {
  height: 0px;
  width: 100%;

  border-bottom: 1px solid #c8c8c8;
}

/*----------------------------------------
------------------------------------------
-------------ERROR MESSAGE----------------
------------------------------------------
----------------------------------------*/

.error_message {
  color: #FF0000;
}


/*----------------------------------------
------------------------------------------
-------------CORE_CORE_MENU---------------
------------------------------------------
----------------------------------------*/


#core_core_menu {
  width: 24%;

  background: rgb(220, 235, 245);

  border: 5px solid rgb(234, 234, 234);
}